.control {  
    text-align: center;    
    margin: auto;
}
@media (min-width: 1024px ) {
    .control {
      max-width: 1024px;
      margin: 0 auto;
    }
  }

.control-search {
    max-height: 40px;
    margin-bottom: 34px;
}

.ant-btn {
    border: none; 
    border-radius: 0;
    background-color: transparent;
    border-bottom: 1px solid #E8E8E8;
    transition: border-bottom-color 0.3s;
    margin-bottom: 20px;
    }